<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h2>All Vehicles</h2>
    <table>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th></th>
        <th></th>
      </tr>
      <% for (i=0; i < vehiclesList.length; i++) { %>
      <tr>
        <td><%= vehiclesList[i].make %></td>
        <td><%= vehiclesList[i].model %></td>
        <td><%= vehiclesList[i].year %></td>
        <td><a href="/vehicles/edit/<%= vehiclesList[i].vin %>">Edit</a></td>
        <td><a href="/vehicles/delete/<%= vehiclesList[i].vin %>">Delete</a></td>
      </tr>
      <% } %>
    </table>
    <br>
    <form action="/vehicles/add" method="GET">
      <button type="submit" name="add-btn">Add New</button>
    </form>
  </body>
</html>
